
<form [formGroup]="teamForm" (ngSubmit)="getData()">
<mat-form-field class="example-full-width">
    <mat-label>Search by Team ID</mat-label>
    <input matInput formControlName="selectedTeam" [(ngModel)]="searchId" (ngModelChange)="onIdChange()" placeholder="237" value="">
</mat-form-field>

<div class="team-info" *ngIf="team">
    <h1>{{ team.full_name }}</h1>
    <div class="details">
        <p class="abbreviation">{{ team.abbreviation }}</p>
        <p class="location">{{ team.city }}</p>
        <div class="conference-division">
            <p class="conference">{{ team.conference }}</p>
            <p class="division">{{ team.division }}</p>
        </div>
    </div>
    <button class="favorite-button" type="submit" [disabled]="teamForm.invalid">Submit Team</button>
    <div class="select-container">
        <mat-label>Select Season</mat-label>
        <mat-select formControlName="selectedSeason">
            <mat-option value="2023">Current</mat-option>
            <mat-option value="2022">2022</mat-option>
            <mat-option value="2021">2021</mat-option>
            <mat-option value="2020">2020</mat-option>
            <mat-option value="2019">2019</mat-option>
            <mat-option value="2018">2018</mat-option>
        </mat-select>
    </div>
</div>
</form>

<app-games *ngIf="viewComp" [gameData]="nextGames"></app-games>

