<div *ngFor="let game of bettedGames | keyvalue" class="bet-result-container" [ngClass]="{'win': game.value.status == 'Final' && ((mapGames.get(game.key) == game.value.home_team.id && game.value.home_team_score > game.value.visitor_team_score) || (mapGames.get(game.key) == game.value.visitor_team.id && game.value.visitor_team_score > game.value.home_team_score)), 'loss': game.value.status == 'Final' && !((mapGames.get(game.key) == game.value.home_team.id && game.value.home_team_score > game.value.visitor_team_score) || (mapGames.get(game.key) == game.value.visitor_team.id && game.value.visitor_team_score > game.value.home_team_score))}">
    <div class="result-info">
        <h2 class="result-heading" *ngIf="game.value.status == 'Final' && ((mapGames.get(game.key) == game.value.home_team.id && game.value.home_team_score > game.value.visitor_team_score) || (mapGames.get(game.key) == game.value.visitor_team.id && game.value.visitor_team_score > game.value.home_team_score))">Congratulations! You've won the bet!</h2>
        <h2 class="result-heading" *ngIf="game.value.status == 'Final' && !((mapGames.get(game.key) == game.value.home_team.id && game.value.home_team_score > game.value.visitor_team_score) || (mapGames.get(game.key) == game.value.visitor_team.id && game.value.visitor_team_score > game.value.home_team_score))">Oh no! You've lost the bet!</h2>
        <div class="result-details">
            <h3>You've bet on {{ mapGames.get(game.key) === game.value.home_team.id ? game.value.home_team.full_name : game.value.visitor_team.full_name }}</h3>
        </div>
    </div>
    <div class="game-details">
        <div>Date: {{ game.value.date }}</div>
        <div>Time: {{ game.value.time }}</div>
        <div>Home Team: {{ game.value.home_team.full_name }} ({{ game.value.home_team.abbreviation }})</div>
        <div>Visitor Team: {{ game.value.visitor_team.full_name }} ({{ game.value.visitor_team.abbreviation }})</div>
        <div>Score: {{ game.value.home_team_score }} - {{ game.value.visitor_team_score }}</div>
        <div>Period: {{ game.value.period }}</div>
        <div>Postseason: {{ game.value.postseason ? 'Yes' : 'No' }}</div>
        <div>Season: {{ game.value.season }}</div>
        <div>Status: {{ game.value.status }}</div>
    </div>
</div>
